include dash_sigplot_components/dash_sigplot_components.min.js
include dash_sigplot_components/dash_sigplot_components.min.js.map
include dash_sigplot_components/async-*.js
include dash_sigplot_components/async-*.js.map
include dash_sigplot_components/*-shared.js
include dash_sigplot_components/*-shared.js.map
include dash_sigplot_components/metadata.json
include dash_sigplot_components/package-info.json
include README.md
include LICENSE
include package.json
